
/*------GENERAL BUTTONS-----*/


button{
    background-color: #F0EFEB;
    border:1px solid #CB997E;
    margin: 0.5em;
    padding: 0.5em;
    font-variant-caps: all-small-caps;
}

button:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}



/*------WATER GLASSES-----*/


.empty-glass-btn{
    border-top:1px solid #CB997E;
    border-left: 1px solid #CB997E;
    border-right: 1px solid #CB997E;
    border-bottom: none;
}

.fill-glass-btn{
    border-top: none;
    border-bottom:1px solid #CB997E;
    border-left: 1px solid #CB997E;
    border-right: 1px solid #CB997E;
}




/*------TEKSTFELT & INPUTFELT-----*/


input{
    border: none;
    border-bottom: 1px solid #CB997E;
    background-color: #F0EFEB;
    padding: 0.5em;
}

textarea{
    font-family:'Roboto', sans-serif;
    border-color: #CB997E;
}